body
{
    background-image: url('/assets/backgroundInicialPage.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    height: 100vh;
    width: 100vw;
}

main #logo
{
    width: 30vw;
    margin-top: -2vh;
}

main p 
{
    position: relative;
    display: flex;
    align-items: center;
}

main p img
{
    width: 2vw;
    position: absolute;
    margin-left: 1vw;
    cursor: pointer;
}

main p input
{
    border-radius: 1vw;
    width: 40vw;
    font-size: 2.5vh;
    height: 7vh;
    padding: 2vh 2vw 2vh 4vw;
}

main p input::placeholder
{
    font-size: 2.5vh;
}