<div class="container">
    <div class="content">
        <div class="box">
            <img src="/assets/interrogation.svg">
        </div>
        <p>
            Site criado para saber como está a situação de um determinado livro para os integrantes da Escola Estadual Lucia de Castro Bueno, Taboão da Serra-SP, Brasil.
        </p>
    </div>
    <div class="box clickable">
        <img src="/assets/interrogation.svg">
    </div>
</div>